plugins/com.ebmwebsourcing.petals.common/xsd/specialized-su/cdk4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://petals.ow2.org/components/extensions/version-4.0"
	xmlns:petalsCDK="http://petals.ow2.org/components/extensions/version-4.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified"
	
	xmlns:ejb12="http://petals.ow2.org/components/ejb/version-1.1"
	xmlns:ft21="http://petals.ow2.org/components/filetransfer/version-2.1"
	xmlns:ft22="http://petals.ow2.org/components/filetransfer/version-2.2"
	xmlns:ftp30="http://petals.ow2.org/components/ftp/version-3.0"
	xmlns:jms30="http://petals.ow2.org/components/jms/version-3.0"
	xmlns:jsr181_10="http://petals.ow2.org/components/jsr181/version-1.0"
	xmlns:mail30="http://petals.ow2.org/components/mail/version-3.0"
	xmlns:pojo20="http://petals.ow2.org/components/pojo/version-2.0"
	xmlns:quartz10="http://petals.ow2.org/components/quartz/version-1.0"
	xmlns:sftp10="http://petals.ow2.org/components/sftp/version-1"
	xmlns:validation10="http://petals.ow2.org/components/validation/version-1.0"
	xmlns:xslt22="http://petals.ow2.org/components/xslt/version-2.2"
	xmlns:soap31="http://petals.ow2.org/components/soap/version-3.1"
	xmlns:eip22="http://petals.ow2.org/components/eip/version-2.2"
	xmlns:eip23="http://petals.ow2.org/components/eip/version-2.3"
	
	xmlns:v2_23="http://snv2sxml.binding.components.esb.acoss.fr/1.1"
	xmlns:routage23="http://routage.engine.components.esb.acoss.fr/2.0">
	
	
	<!-- Imports -->
	<xs:import namespace="http://petals.ow2.org/components/ejb/version-1.1" schemaLocation="components-cdk4.0/ejb1.2.xsd" />
	<xs:import namespace="http://petals.ow2.org/components/filetransfer/version-2.1" schemaLocation="components-cdk4.0/fileTransfer2.1.xsd" />
	<xs:import namespace="http://petals.ow2.org/components/filetransfer/version-2.2" schemaLocation="components-cdk4.0/fileTransfer2.2.xsd" />
	<xs:import namespace="http://petals.ow2.org/components/ftp/version-3.0" schemaLocation="components-cdk4.0/ftp3.0.xsd" />
	<xs:import namespace="http://petals.ow2.org/components/jms/version-3.0" schemaLocation="components-cdk4.0/jms3.0.xsd" />
	<xs:import namespace="http://petals.ow2.org/components/jsr181/version-1.0" schemaLocation="components-cdk4.0/jsr181_1.0.xsd" />
	<xs:import namespace="http://petals.ow2.org/components/mail/version-3.0" schemaLocation="components-cdk4.0/mail3.0.xsd" />
	<xs:import namespace="http://petals.ow2.org/components/pojo/version-2.0" schemaLocation="components-cdk4.0/pojo2.0.xsd" />
	<xs:import namespace="http://petals.ow2.org/components/quartz/version-1.0" schemaLocation="components-cdk4.0/quartz1.0.xsd" />
	<xs:import namespace="http://petals.ow2.org/components/validation/version-1.0" schemaLocation="components-cdk4.0/validation1.0.xsd" />
	<xs:import namespace="http://petals.ow2.org/components/xslt/version-2.2" schemaLocation="components-cdk4.0/xslt2.2.xsd" />
	<xs:import namespace="http://petals.ow2.org/components/eip/version-2.2" schemaLocation="components-cdk4.0/eip2.2.xsd" />
	<xs:import namespace="http://petals.ow2.org/components/eip/version-2.3" schemaLocation="components-cdk4.0/eip2.3.xsd" />
	<xs:import namespace="http://snv2sxml.binding.components.esb.acoss.fr/1.1" schemaLocation="components-cdk4.0/v2_2.3.xsd" />
	<xs:import namespace="http://routage.engine.components.esb.acoss.fr/2.0" schemaLocation="components-cdk4.0/routage2.3.xsd" />
	
	<!-- The schema (tns included) are the same for the versions 3.1 and 3.2 -->
	<xs:import namespace="http://petals.ow2.org/components/soap/version-3.1" schemaLocation="components-cdk4.0/soap3.1.xsd" />
	
	<!-- Same schema for CDK 4 and 5 -->
	<xs:import namespace="http://petals.ow2.org/components/sftp/version-1" schemaLocation="components-cdk5.0/sftp1.x.xsd" />
	
	
	<!-- Empty group -->
	<xs:group name="EmptyGroup">
		<xs:sequence></xs:sequence>
	</xs:group>
	
	
	<!-- CDK 4.0 // provides -->
	<xs:group name="CdkInProvides">
		<xs:sequence>
			<xs:element ref="petalsCDK:timeout" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:su-interceptors" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:exchange-properties" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:wsdl-imports-download" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:wsdl" maxOccurs="1" minOccurs="1" />
			
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:group ref="petalsCDK:EmptyGroup" />
				<!-- Let it be the first choice -->
				
				<xs:group ref="ejb12:EjbInProvides" />
				<xs:group ref="ft21:FileTransferInProvides" />
				<xs:group ref="ft22:FileTransferInProvides" />
				<xs:group ref="ftp30:FtpInProvides" />
				<xs:group ref="jms30:JmsInProvides" />
				<xs:group ref="jsr181_10:Jsr181InProvides" />
				<xs:group ref="mail30:MailInProvides" />
				<xs:group ref="pojo20:PojoInProvides" />
				<xs:group ref="sftp10:SftpInProvides" />
				<xs:group ref="validation10:ValidationInProvides" />
				<xs:group ref="xslt22:XsltInProvides" />
				<xs:group ref="soap31:SoapInProvides" />
				<xs:group ref="eip22:EipInProvides" />
				<xs:group ref="eip23:EipInProvides" />
				<xs:group ref="v2_23:v2InProvides" />
				<xs:group ref="routage23:routageInProvides" />
			</xs:choice>
		</xs:sequence>
	</xs:group>
	
	
	<!-- CDK 4.0 // consumes -->
	<xs:group name="CdkInConsumes">
		<xs:sequence>
			<xs:element ref="petalsCDK:operation" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:timeout" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:su-interceptors" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:exchange-properties" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:mep" maxOccurs="1" minOccurs="1" />
			
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:group ref="petalsCDK:EmptyGroup" />	
				<!-- Let it be the first choice -->
				
				<xs:group ref="ft21:FileTransferInConsumes" />
				<xs:group ref="ft22:FileTransferInProvides" />
				<xs:group ref="jms30:JmsInConsumes" />
				<xs:group ref="mail30:MailInConsumes" />
				<xs:group ref="quartz10:QuartzInConsumes" />
				<xs:group ref="soap31:SoapInConsumes" />
			</xs:choice>
		</xs:sequence>
	</xs:group>
	
	
	<!-- CDK 4.0 // components -->
	<xs:group name="CdkComponents">
		<xs:sequence>
			<xs:element ref="petalsCDK:acceptor-pool-size" maxOccurs="1" minOccurs="1" />
			<xs:element ref="petalsCDK:processor-pool-size" maxOccurs="1" minOccurs="1" />
			<xs:element ref="petalsCDK:ignored-status" maxOccurs="1" minOccurs="1" />
			<xs:element ref="petalsCDK:properties-file" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:performance-notifications" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:performance-step" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:component-interceptors" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:external-listener-class-name" maxOccurs="1" minOccurs="0" />
			<xs:element ref="petalsCDK:jbi-listener-class-name" maxOccurs="1" minOccurs="1" />
			
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:group ref="petalsCDK:EmptyGroup" />
				<!-- Let it be the first choice -->
				
				<xs:group ref="v2_23:v2Component" />
				<xs:group ref="routage23:routageComponent" />
			</xs:choice>
		</xs:sequence>
	</xs:group>
	

	<!-- Generic interceptor parameter type -->
	<xs:complexType name="Param">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="string" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
		
	<!--  Component interceptor type -->
	<xs:complexType name="ComponentInterceptor">
		<xs:sequence>
			<xs:element name="param" type="petalsCDK:Param" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="class" type="xs:string" use="required" />
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="active" type="xs:boolean" use="required" />
	</xs:complexType>
	
	<xs:complexType name="ComponentInterceptors">
		<xs:sequence>
			<xs:element name="interceptor" type="petalsCDK:ComponentInterceptor" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	
	<!--  Service Unit interceptor type -->
	<xs:complexType name="SUInterceptor">
		<xs:sequence>
			<xs:element name="param" type="petalsCDK:Param" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="name" type="string" />
	</xs:complexType>
	
	<xs:complexType name="Send">
		<xs:sequence>
			<xs:element name="interceptor" type="petalsCDK:SUInterceptor" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Accept">
		<xs:sequence>
			<xs:element name="interceptor" type="petalsCDK:SUInterceptor" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SendResponse">
		<xs:sequence>
			<xs:element name="Interceptor" type="petalsCDK:SUInterceptor" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AcceptResponse">
		<xs:sequence>
			<xs:element name="Interceptor" type="petalsCDK:SUInterceptor" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SUInterceptors">
		<xs:sequence>
			<xs:element name="send" type="petalsCDK:Send" maxOccurs="1" minOccurs="0" />
			<xs:element name="accept" type="petalsCDK:Accept" maxOccurs="1" minOccurs="0" />
			<xs:element name="send-response" type="petalsCDK:SendResponse" 	maxOccurs="1" minOccurs="0" />
			<xs:element name="accept-response" type="petalsCDK:AcceptResponse" maxOccurs="1" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	
	<!-- Simple dynamic parameter types -->
	<!-- Settable types can be reset during the installation of the component -->
	<!-- Runtime types can be reset at any times during the component life -->
	<xs:complexType name="settablestring">
		<xs:simpleContent>
			<xs:extension base="xs:string" />
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="runtimestring">
		<xs:simpleContent>
			<xs:extension base="xs:string" />
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="settablelong">
		<xs:simpleContent>
			<xs:extension base="xs:long" />
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="runtimelong">
		<xs:simpleContent>
			<xs:extension base="xs:long" />
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="settableint">
		<xs:simpleContent>
			<xs:extension base="xs:int" />
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="runtimeint">
		<xs:simpleContent>
			<xs:extension base="xs:int" />
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="settableboolean">
		<xs:simpleContent>
			<xs:extension base="xs:boolean">
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="runtimeboolean">
		<xs:simpleContent>
			<xs:extension base="xs:boolean" />
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="settableanyURI">
		<xs:simpleContent>
			<xs:extension base="xs:anyURI" />
		</xs:simpleContent>
	</xs:complexType>


	<!-- Ignore status -->
	<xs:simpleType name="IgnoreStatus">
		<xs:restriction base="xs:token">
			<xs:enumeration value="DONE_AND_ERROR_IGNORED" />
			<xs:enumeration value="DONE_IGNORED" />
			<xs:enumeration value="ERROR_IGNORED" />
			<xs:enumeration value="NOTHING_IGNORED" />
		</xs:restriction>
	</xs:simpleType>


	<!-- Component Extensions -->
	<xs:element name="acceptor-pool-size" type="petalsCDK:runtimeint" default="5" />
	<xs:element name="processor-pool-size" type="petalsCDK:runtimeint" default="10" />
	<xs:element name="ignored-status" type="petalsCDK:IgnoreStatus" default="DONE_AND_ERROR_IGNORED" />
	<xs:element name="jbi-listener-class-name" type="xs:string" />
	<xs:element name="external-listener-class-name" type="xs:string" />
	<xs:element name="component-interceptors" type="petalsCDK:ComponentInterceptors" />
	<xs:element name="properties-file" type="petalsCDK:settableanyURI" />
	<xs:element name="performance-notifications" type="petalsCDK:runtimeboolean" default="false" />
	<xs:element name="performance-step" type="petalsCDK:runtimeint" default="1" />
	
	
	<!-- MEP : InOnly, InOut, RobustInOut, InOptionalOut -->
	<xs:simpleType name="MEPType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="InOnly" />
			<xs:enumeration value="InOut" />
			<xs:enumeration value="RobustInOnly" />
			<xs:enumeration value="InOptionalOut" />
		</xs:restriction>
	</xs:simpleType>


	<!-- Services Unit Extensions -->
	<xs:element name="su-interceptors" type="petalsCDK:SUInterceptors" />


	<!-- Consumes Extensions -->
	<xs:element name="operation" type="xs:string" />
	<xs:element name="timeout" type="xs:long" />
	<xs:element name="mep" type="petalsCDK:MEPType" nillable="true" />
	<xs:element name="exchange-properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="exchange-property" type="petalsCDK:Param" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- Provides Extensions -->
	<xs:element name="wsdl" type="xs:string" nillable="true" />
	

    <!-- Petals Components specific types -->
    <!-- USed by Petals Eclipse plugin to generate special widgets -->
	<xs:simpleType name="File">
		<xs:restriction base="string" />
	</xs:simpleType>
	
	<xs:element name="wsdl-imports-download" type="petalsCDK:settableboolean" default="false">
        <xs:annotation>
            <xs:documentation>If true, the external imports declared in the service WSDL will be downloaded, so they will be replaced by their content</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>