plugins/com.ebmwebsourcing.petals.services.filetransfer/WriteFiles.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WriteFiles"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:ft="http://petals.ow2.org/components/filetransfer/version-2"
        xmlns:tns="http://petals.ow2.org/components/filetransfer/version-2"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        targetNamespace="http://petals.ow2.org/components/filetransfer/version-2">
    
 <!-- XML Types -->
  <wsdl:types>
		<xsd:schema 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" 
			elementFormDefault="qualified" 
			xmlns:tns="http://petals.ow2.org/components/filetransfer/version-2"
			targetNamespace="http://petals.ow2.org/components/filetransfer/version-2">
			
			<xsd:element name="getFile" type="tns:getFileType" />
			<xsd:complexType name="getFileType">
				<xsd:sequence>
					<xsd:element name="filepattern" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="ioFault" type="tns:ioFaultType" />
			<xsd:complexType name="ioFaultType">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="getFiles" type="tns:getFilesType" />
			<xsd:complexType name="getFilesType">
				<xsd:sequence>
					<xsd:element name="filepattern" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="getFilesResponse" type="tns:getFilesResponse" />
			<xsd:complexType name="getFilesResponse">
				<xsd:sequence>
					<xsd:element name="filename" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="getFiles_fault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getFiles_fault" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<!-- describe the file attachments -->
			<xsd:element name="files" type="tns:filesType" />
			<xsd:complexType name="filesType">
				<xsd:sequence>
					<xsd:element name="file" type="xsd:base64Binary" maxOccurs="unbounded" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	
	<!-- Messages -->
	<wsdl:message name="getFileRequest">
		<wsdl:part name="getFileRequest" element="tns:getFile" />
	</wsdl:message>
	<wsdl:message name="getFileResponse">
	</wsdl:message>
	<wsdl:message name="getFilesRequest">
		<wsdl:part name="getFilesRequest" element="tns:getFiles" />
	</wsdl:message>
	<wsdl:message name="getFilesResponse">
		<wsdl:part name="getFilesResponse" element="tns:getFilesResponse" />
		<wsdl:part name="files" element="tns:files" />
	</wsdl:message>
	<wsdl:message name="getFile_faultMsg">
		<wsdl:part name="ioFault" element="tns:ioFault" />
	</wsdl:message>
	<wsdl:message name="getFiles_faultMsg">
		<wsdl:part name="ioFault" element="tns:ioFault" />
	</wsdl:message>
	
	<!-- Port Type -->
	<wsdl:portType name="GetFiles">
		<wsdl:operation name="getFile">
			<wsdl:input message="ft:getFileRequest" />
			<wsdl:output message="ft:getFileResponse" />
			<wsdl:fault name="fault" message="ft:getFile_faultMsg" />
		</wsdl:operation>
		<wsdl:operation name="getFiles">
			<wsdl:input message="ft:getFilesRequest" />
			<wsdl:output message="ft:getFilesResponse" />
			<wsdl:fault name="fault" message="ft:getFiles_faultMsg" />
		</wsdl:operation>
	</wsdl:portType>
    
    <!-- Binding -->
	<wsdl:binding name="GetFilesBinding" type="ft:GetFiles">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
			
		<wsdl:operation name="getFile">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>		
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="getFiles">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
  </wsdl:binding>

  <!-- Service -->
  <wsdl:service name="fd">
    <wsdl:port binding="ft:GetFilesBinding" name="fdEndpoint">
      <soap:address location="http://petals.does.not.care" />
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
